.burger_constructor {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding-bottom: 20px;
  color: var(--text-primary-color);
  font-family: "Jet Brains Mono";
}
.burger_consructor_list {
  width: 568px;
  height: 656px;
}

.list_food {
  height: 500px;
  overflow-y: auto;
  padding-left: 16px;
  margin: auto;
}

.point_list_food {
  width: 536px;
  height: 80px;
  background: #1c1c21;
  border-radius: 40px;
  overflow: hidden;
  margin-top: 16px;
}

.top_bun {
  width: 536px;
  height: 80px;
  background: #1c1c21;
  border-radius: 88px 88px 40px 40px;
  margin: auto;
}

.bottom_bun {
  width: 536px;
  height: 80px;
  background: #1c1c21;
  border-radius: 40px 40px 88px 88px;
  margin: auto;
}
