.container_constructor {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 20px;
  background: #1c1c21;
  border-radius: 40px;
  padding-right: 16px;
  flex-grow: 1;
}

.constructor_image {
  width: 80px;
  height: 40px;
}

.price {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.name {
  flex-grow: 1;
}
