.burger_ingredients {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  color: var(--text-primary-color);
  font-family: "Jet Brains Mono", serif;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.ingredients_block {
  overflow-y: auto;
}

.ingredients_list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 16px;
}

.ingredient_list_point {
  flex: 0 1 48%;
  box-sizing: border-box;
  text-align: center;
}

.details_list {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: rgb(133, 133, 173);
}

.item {
  flex: 1; 
  text-align: center; 
  position: relative;
}

.item:first-child {
  border-left: none;
}

.header {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
}

.value {
  font-size: 16px;
  font-weight: bold;
}
